pydantic-settings==2.2.1
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
apscheduler==3.10.4
aiohttp==3.9.5
tenacity==8.2.3
scrapy==2.11.1
playwright==1.43.0
beautifulsoup4==4.12.3
lxml==5.2.1
feedparser==6.0.11
requests==2.32.3
loguru==0.7.2
python-dotenv==1.0.1
execjs
PyExecJS
selenium==4.15.2
webdriver-manager==4.0.1
DrissionPage==4.0.5.6
pandas==2.1.4